// Place all the styles related to the payments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.label-primary {
  padding: 12px 112px 12px 112px;
  border-radius: 30px;
  color: white;
  background-color:#0094FF;
  font-family:Helvetica;
}
